$font-dir: '~/assets/fonts/';
$font-family: 'CharisSil';

@font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    src: url('#{$font-dir}#{$font-family}/#{$font-family}-Regular.ttf') format('truetype');
}

@font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    src: url('#{$font-dir}#{$font-family}/#{$font-family}-Bold.ttf') format('truetype');
}

@font-face {
    font-family: $font-family;
    font-style: italic;
    font-weight: normal;
    src: url('#{$font-dir}#{$font-family}/#{$font-family}-Italic.ttf') format('truetype');
}

@font-face {
    font-family: $font-family;
    font-style: italic;
    font-weight: bold;
    src: url('#{$font-dir}#{$font-family}/#{$font-family}-Bold-Italic.ttf') format('truetype');
}
