// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@import 'fonts/OpenDyslexic/index';

$font-family: 'Bahnschrift';
@font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    src: url('~/assets/fonts/#{$font-family}-Regular.ttf') format('truetype');
}

[class*='text'] {
    // TODO Workaround until vuetify 3 https://github.com/vuetifyjs/vuetify/issues/9130
    white-space: normal;
}

.v-card--link:before {
    background: none;
}

.v-card__title {
    // TODO Workaround until vuetify 3 https://github.com/vuetifyjs/vuetify/issues/9130
    word-break: normal;
}

.v-icon {
    color: var(--v-secondary-base) !important;
}

$body-font-family: $font-family;
