name: CI Production
on:
  push:
    branches:
      - release
permissions:
  contents: read
jobs:
  ci_prod:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Setup node env
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'pnpm'
          check-latest: true
          node-version: 'latest'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run linter
        run: pnpm prepare && pnpm lint
      - name: Run static website generator
        run: pnpm build
      - name: Deploy to website
        uses: SamKirkland/FTP-Deploy-Action@a51268f67f6605236975928ae28b0f7e9971d50a # v4.3.6
        with:
          local-dir: dist/spa/
          password: ${{ secrets.OVH_SFTP_PASSWORD }}
          server: ${{ secrets.OVH_SFTP_SERVER }}
          username: ${{ secrets.OVH_SFTP_USERNAME }}
